<div class="profile">

  <div class="profile__card animate__animated animate__fadeIn">
    <div class="profile__cardLeft">

      <div class="video">
        <video width="100%" controls>
          <source src="../../../assets/test.mp4" type="video/mp4">
        </video>
      </div>

    </div>

    <div class="profile__cardRight text-center" *ngIf="selected_user">
      <div class="row">
        <button class="btn btn-outline-primary btn-sm ml-4 animate__animated animate__fadeInRight animate__delay-3s"
          (click)="back()">
          < &nbsp; Back</button>
      </div>
      <small class="h3 text-muted">
        {{ shareService.to_titleCase(selected_user.name) + ' ' + shareService.to_titleCase(selected_user.surname) }}
      </small>
      <hr class="mb-3 mx-5">

      <p class="text-muted">Email: {{ selected_user.email }}</p>

      <span class="text-muted">{{ selected_user.skills.length > 0 ? 'SKILLS' : 'SKILLS NOT UPDATED' }}</span><br>
      <small class="text-muted font-italic">
        <span *ngFor="let skill of selected_user.skills">{{ skill.name }}, </span>
      </small>
    </div>
  </div>

</div>
